<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th *ngFor="let header of tableColumns">{{header}}</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let record of DataSource"
    (click)="onRowSelected(record)"

    >
      <td *ngFor="let col of tableColumns">
         {{record[col]}}
      </td>
      <td *ngIf="CanEdit">
        <button class="btn btn-warning"
         (click)="onEditClicked(record)">Edit</button>
      </td>
      <td *ngIf="CanDelete">
        <button class="btn btn-danger"
        (click)="onDeleteClicked(record)"
        >Delete</button>
      </td>

    </tr>
  </tbody>
</table>
