<h1>Hello Angular</h1>
{{message}}
<div class="container">
   <form name="frmEmp" (ngSubmit)="save()">
      <div class="form-group">
        <label for="ProductId">Product Id</label>
        <input type="text" [(ngModel)]="product.ProductId" name="ProductId"
          class="form-control"
           required="true">
      </div>
      <div class="form-group">
        <label for="ProductName">Product Name</label>
        <input type="text" [(ngModel)]="product.ProductName"  class="form-control"
        name="ProductName">
      </div>
      <div class="form-group">
        <label for="Manufacturer">Manufacturer Name</label>
        <select [(ngModel)]="product.Manufacturer"  class="form-control"
        name="Manufacturer">
         <option *ngFor="let man of manufacturers" value="{{man}}">{{man}}</option>
      </select>
      </div>
      <div class="form-group">
        <label for="Category">Category Name</label>
        <select [(ngModel)]="product.Category"  class="form-control"
        name="Category" >
         <option *ngFor="let cat of categories" value="{{cat}}">{{cat}}</option>
      </select>
      </div>
      <div class="form-group">
        <label for="Price">Price</label>
        <input type="text" [(ngModel)]="product.Price"  class="form-control"
        name="Price"
        minlength="4" maxlength="8">

      </div>
      <div class="btn btn-group-lg">
        <button class="btn btn-warning" (click)="clear()">New</button>
        <!-- <button class="btn btn-primary" (click)="save()">Save</button>
         -->
         <input type="submit" class="btn btn-primary" value="Save">
      </div>
   </form>
   <br/>
   {{product | json}}
   <hr/>
   <!-- <table class="table table-bordered table-striped">
        <thead>
          <tr>
            <th *ngFor="let header of tableColumns">{{header}}</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let prd of products">
            <td *ngFor="let col of tableColumns">
               {{prd[col]}}
            </td>
          </tr>
        </tbody>
   </table> -->
   <app-table-component [DataSource]="products"
    (rowSelected)="onDataReceived($event)"
    [CanDelete]="true"></app-table-component>
</div>
